[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyvespa = "*"
flask-cors = "*"
"pdfminer.six" = "*"
langdetect = "*"
languagecodes = "*"
pdf2image = "*"
nltk = "*"
pillow = "*"
gunicorn = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
